.rendered*
*.lock
*.so
*.ipynb
.DS_Store
*.code-workspace
__pycache__

# working folders
build
outputs/*
visualization/*
figures/*
data/*
experimental/*
MACE_models/*
triton_autotuning/*

# bash scripts
get_gpu_node.sh
env.sh

nvidia-mathdx*
.vscode/*
*.ncu-rep
mace_dev
valid_indices*

*.xyz
scratch.txt
triton_autotuning
paper_benchmarks
paper_benchmarks_v2
openequivariance/extlib/*.so

get_node.sh
*.egg-info