.rendered*
*.lock
*.so
*.ipynb
.DS_Store
*.code-workspace
__pycache__

# working folders
build/*
outputs/*
visualization/*
figures/*
data/*
experimental/*
MACE_models/*

# bash scripts
get_gpu_node.sh
env.sh 

nvidia-mathdx*
.vscode/*
*.ncu-rep
mace_dev
valid_indices*

*.xyz

cutlass