include openequivariance/extlib/*.so
include openequivariance/extlib/*.empty

include openequivariance/templates/*.cuh
include openequivariance/templates/*.jinja

include openequivariance/extension/*
include openequivariance/extension/convolution/*
include openequivariance/extension/tensorproducts/*
include openequivariance/extension/util/*